* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 

.box{
    display: flex;
}

.leftpart{
    height: 100vh;
    width: 50%;
    background-color: #081b31;
    display: flex;
    justify-content: center; 
    align-items: last baseline;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 30px;
    color: aliceblue;
 }

.rightpart{
    height: 100vh;
    width: 50%;
    background-color: black;
}

.image{
    background-image: url("profile\ pic.jpg");
    height: 100vh;
    background-size: cover;
}

.hii{
    font-size: 1.2rem;
    font-family: "poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.im{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 2px 0px 2px;
}
.name{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 2px 0px 2px;
    color: rgb(89, 164, 164);
}

.title{
    font-size: 1.3rem;
    font-weight: 550;
    padding-bottom: 10px;
    font-family: "poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parah{
    font-size: 1.2rem;
    padding-bottom: 15px;
    font-family: "poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    font-size: 0.9rem;
    background-color: rgb(89, 164, 164);
    color: aliceblue;
    border-style: none;
    border: 2px solid aliceblue;
    cursor: pointer;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: absolute;
    height: 45vh;
    width: 1.9vw;
    border-radius: 20px;
    background-color:rgb(89, 164, 164);
    top: 170px;
    right: 25px;
}

.navbar i{
    padding: 10px 2px;
    font-size: 1rem;
} 

.navbar button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.navbar button a{
    color: aliceblue;
}

button a{
    color: aliceblue;
    text-decoration: none;
    font-family: "poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar button i:hover{
    font-size: 1.3rem;
    color: black;
    opacity: 0.5;
}

.leftpart button:hover{
    padding: 11px 11px;
}

.myname{
    display: flex;
    gap: 11px;
}